<div class="not-found min-vh-100 d-flex flex-column align-items-center justify-content-center text-center text-white">
    <h1 class="error-code">404</h1>
    <h2 class="error-title fw-bold fs-2 mb-3">Oops! Page Not Found</h2>
    <p class="error-message fs-5">
        The page you are looking for doesn’t exist or has been moved.<br>
        Please check the URL or go back to the homepage.
    </p>

    <a routerLink="/" class="btn btn-primary btn-lg mt-3 py-3 px-5 shadow rounded-5 fw-bold">
        Back to Home
    </a>
</div>