<section class="bg-body-secondary">
    <div class="container">
        <div class="text-center py-4">
            <h3 class="display-4 fw-bolder ">Contact Us.</h3>
        </div>

        <div class="group px-5">
            <div class="row g-4 py-4">
                <div class="col-md-4">
                    <div class="text-center d-flex align-items-center flex-column gap-3">
                        <div class="icons">
                            <i class="fa fa-location-arrow"></i>
                        </div>
                        <h6 class="h5 fw-bolder mb-0">Address</h6>
                        <p class="count-txt">6834 Hollywood Blvd - Los Angeles CA</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center d-flex align-items-center flex-column gap-3">
                        <div class="icons">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <h6 class="h5 fw-bolder mb-0">Email</h6>
                        <p class="count-txt">Support@website.com</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center d-flex align-items-center flex-column gap-3">
                        <div class="icons">
                            <i class="fa fa-phone"></i>
                        </div>
                        <h6 class="h5 fw-bolder mb-0">Phone</h6>
                        <p class="count-txt">+20 1287221021</p>
                    </div>
                </div>
            </div>
        </div>

        <form class="py-5">
            <div class="row g-4 px-5">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="First name" aria-label="First name"
                        name="FirstName" required />
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="Email"
                        required />
                </div>
                <div class="col-12">
                    <textarea class="form-control " id="exampleFormControlTextarea1" placeholder="Massage"
                        name="Massage" rows="5"></textarea>
                </div>
                <button type="button" class="btn w-auto ms-3">Submit</button>
            </div>
        </form>

    </div>
</section>