.icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50%;
    border: 3px solid #111;
    background: #111;
    color: #eee;
    transition: all .5s ease-in-out;
    width: 60px;
    height: 60px;
    font-size: 30px;
}

.icons i:hover {
    color: #000;
    background: white;
}


.item {
    box-shadow: 0px 20px 30px -8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.item:hover .icon {
    background: #000;
    color: white;
}

.count-txt {
    color: #748182;
    line-height: 1.6;
}

.form-control {
    background-color: #f4f4f4;
    padding: 10px;
    border: 0;
}

.form-control:focus {
    box-shadow: none;
    background-color: #f4f4f4;
}


.btn {
    padding: 10px 40px;
    background: #000;
    color: white;

    transition: all .5s ease-in-out;
}

.btn:hover {
    background: white;
    border: 1px solid #1c1c1c;
    color: black;
}